body {
  color:black;
  overflow-x: hidden;
  font-family: 'Patua One', cursive;
}
img {
  max-height: 60rem;
  margin-bottom: 5vh;
  transition: all ease 100ms;
 &:hover {
   transform: scale(1.1);
   opacity: 0.9;
 }
}

#carousel img{
  max-height: 30rem;
  padding-left: 8vh;
  padding-right: 8vh;
  
  
}

#galery img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.35), 0 15px 12px rgba(0,0,0,0.5);

  padding: 1vh;
  padding-right: 1vh;
  border-bottom: 3px solid #577755;
  
  &:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.22);
  }
 
}

a, li {
  color: black;
  font-size: 22px;
  
}

nav a{
 
  box-shadow: 0 19px 38px rgba(0,0,0,0.03);
  margin: 0.5rem;
  
}

nav {
  padding-top: 2rem;
}