.carousel-item {
    img {
      object-fit: cover;
      box-shadow: 0 9px 14px rgba(101, 184, 145, 0.35), 0 7px 6px rgba(101, 184, 145, 0.5);
      margin-bottom: 5vh;
      transition: all ease 100ms;
      background-color: rgb(148, 147, 147);
    }
  }
  