#contact {
	background-image: url(../img/plat2.jpg);
	color: seagreen;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: calc(100hv - 50px);
}
.formContact {
	background-color: rgba(255,255,255,.7);
	padding: 3rem 1rem;
}