.menuH {
    margin-top: 5vh;
    h2 {
        color: $color-four;
        font-size: 3em;
        padding: 4vh;
    }
    img{
        margin-bottom: 5vh;
    }
}

.menuS{
    margin: 5vh 0;
    padding: 2vh ;
    border: 4px solid $color-four;
    box-shadow: 0 9px 14px rgba(101, 184, 145, 0.35), 0 7px 6px rgba(101, 184, 145, 0.5);

        h2{
            color: $color-five;
        }

        h5 {
            color: $color-three;
        }

        p{
            font-size: 0.7em;
        }
    }

.price {
    
        padding: 0;
    
    li {
        @extend li;
        color: $color-five;
        font-size: 0.7em;
        
        &:hover {
            box-shadow: none;
            transform: scale(1);
            opacity: 1;
        }
    }
}

li {
    list-style: none;
}

.list-group-item {
    margin-top: 0;
}

@media screen and  (max-width: 500px) {
    .menuS p{
        display: none;
    }
}