footer {
	background-size: cover;
	padding: 2rem 5rem 1.5rem 5rem;
	background-color: #72b678;
	max-height: 20vh;
	&:hover {
			filter: invert(0%);
	a {
		font-size: 1rem;
		color: white;
		transition: all .2s ease-in-out;
		}
		.fa {
			padding:0.5rem;
			font-size: 2rem;
			&:hover {
				color:darkgreen;
			}
		}
	}
}
