.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #72b678;
    background: transparent;
    height: 600px;
}
.image_back {
    background: url("../img/batiment.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 600px; /*same height as jumbotron */
    z-index: -1;
}